@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: #fafafa;
  --swiper-pagination-color: #fafafa;
}

body {
  background: #f5f5f5;
}

.link {
  @apply hover:underline underline-offset-4 cursor-pointer font-[family-name:var(--font-noto-sans)]
}

.line-button {
  @apply px-3 py-1 rounded-2xl bg-[#F5951D] text-white font-medium
}

.btn-primary {
  @apply px-3 py-1 rounded-full border-2 border-white text-black bg-white font-medium hover:bg-neutral-200 hover:text-black hover:border-neutral-200 cursor-pointer transition-colors duration-300 font-[family-name:var(--font-noto-sans)]
}
.btn-primary-static {
  @apply px-3 py-1 text-black rounded-full border-2 border-white bg-white font-medium hover:bg-neutral-100 hover:border-neutral-100 cursor-pointer transition-colors shadow-md hover:shadow-lg duration-300 font-[family-name:var(--font-noto-sans)]
}
.btn-primary-static-1 {
  @apply px-4 py-2 rounded-full border-2 border-[#fafafa] bg-[#fafafa] text-black font-medium hover:bg-neutral-200 hover:border-neutral-200 cursor-pointer transition-colors duration-300 font-[family-name:var(--font-noto-sans)]
}
.btn-primary-dark {
  @apply px-3 py-1 rounded-full border-2 border-black text-black font-medium hover:bg-black hover:text-white cursor-pointer transition-colors duration-300 font-[family-name:var(--font-noto-sans)]
}
.btn-primary-dark-sm {
  @apply px-2 py-1 rounded-3xl border-2 border-black text-black font-medium hover:bg-black hover:text-white cursor-pointer transition-colors duration-300 font-[family-name:var(--font-noto-sans)]
}

.heading {
  @apply text-7xl font-[family-name:var(--font-noto-sans)] font-medium
}
.p{
  @apply text-base font-[family-name:var(--font-noto-sans)] font-normal tracking-wide
}
.p-sm{
  @apply text-sm font-[family-name:var(--font-noto-sans)] font-normal
}
.h1{
  @apply text-2xl lg:text-3xl font-[family-name:var(--font-noto-sans)] font-medium my-2
}
.h2{
  @apply text-lg lg:text-2xl font-[family-name:var(--font-noto-sans)] font-medium my-2
}
.h3{
  @apply text-base lg:text-xl font-[family-name:var(--font-noto-sans)] font-medium my-2
}
.h4{
  @apply text-base lg:text-lg font-[family-name:var(--font-noto-sans)] font-medium my-2
}
.h5{
  @apply text-base font-[family-name:var(--font-noto-sans)] font-medium my-2
}
.subheading{
  @apply text-xl text-white font-[family-name:var(--font-noto-sans)] font-normal
}


/* Blog */
.paragraph {
  @apply text-lg font-medium leading-loose tracking-normal font-[family-name:var(--font-sarabun-regular)] my-8 mx-2 lg:mx-32;
}
.paragraph-next-to-heading {
  @apply text-lg font-medium leading-loose tracking-normal font-[family-name:var(--font-sarabun-regular)] mb-8 mx-2 lg:mx-32;
}
.h1-blog {
  @apply text-3xl font-medium font-[family-name:var(--font-noto-sans)] mb-2 mt-4 lg:mx-32;
}
.h2-blog {
  @apply text-2xl font-medium font-[family-name:var(--font-noto-sans)] mb-2 mt-4 lg:mx-32;
}
.h3-blog {
  @apply text-xl font-medium font-[family-name:var(--font-noto-sans)] mb-2 mt-4 lg:mx-32;
}
.image-description {
  @apply text-base leading-loose tracking-normal mt-1 text-center font-[family-name:var(--font-sarabun-regular)] mx-2 mb-2 lg:mx-32;
}
.ref-image {
  @apply text-base leading-loose tracking-normal text-white  mb-2 text-end;
}
.link-inline {
  @apply bg-blue-100 hover:underline-offset-4 hover:underline decoration-4  decoration-blue-500 font-[family-name:var(--font-sarabun-medium)];
}


/* Blog Heading */
.blog-panel {
  @apply mx-5 lg:mx-20 font-[family-name:var(--font-noto-sans)] flex flex-col items-center justify-center;
}
.blog-heading {
  @apply mt-3 mb-5 border-l-4 border-[#F5951D] pl-4 min-w-full;
}
.blog-author {
  @apply my-10 border-l-4 border-[#F5951D] pl-4 min-w-full;
}
.blog-reading{
  @apply p mb-1
}
.blog-reference {
  @apply h3 border-l-4 border-[#F5951D] pl-4 min-w-full;
}
/* Blog Banner */
.blog-banner {
  @apply h-full w-full absolute object-cover -z-[1] brightness-75 rounded-b-xl;
}
.blog-banner-object {
  @apply mx-6 mt-48 md:mt-96 w-full;
}

.blog-image-div {
  @apply flex flex-col items-center justify-center lg:mx-24;
}
.blog-image-object {
  @apply max-h-min rounded-lg;
}


.ssa {
  @apply fixed w-full left-1/2 top-1/2 h-full object-cover transform -translate-x-1/2 -translate-y-1/2 z-0
}

.navbar {
  @apply flex justify-between px-5 lg:px-20 py-3 w-full fixed top-0 left-0 right-0 z-10
}
.navbar-active {
  @apply bg-neutral-100 flex justify-between px-5 lg:px-20 py-3 w-full fixed top-0 left-0 right-0 z-10 
}

.btn {
  display: flex;
  border-color: #F2F2F2;
  color: #F2F2F2;
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
  border-width: 2px;
  text-underline-offset: 4px;

}
.btn-active {
  display: flex;
  border-color: #1F1F1F;
  color: #1F1F1F;
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
  border-width: 2px;
  text-underline-offset: 4px;
}
.btn-active {
  border-color: #1F1F1F;
  color: #1F1F1F;
}

.navtxt{
  color: #F2F2F2;
  background-color: #1F1F1F;
}
.navtxt-active{
  color: #1F1F1F;   
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


html {
  scroll-behavior: smooth;
}



.swiper {
  width: 100%;
  height: 100%;
}


/* Slider Section */
.slider-core {
  @apply min-h-96 flex items-end text-white
}
.slider-core-min {
  @apply flex items-end text-white
}
.title-section {
  @apply text-2xl lg:text-3xl font-medium font-[family-name:var(--font-noto-sans)]
}
.subtitle-section {
  @apply text-base font-normal font-[family-name:var(--font-noto-sans)] my-2 tracking-wide 
}
.text-area-padding {
  @apply p-6 lg:px-20 lg:py-10
}