@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fafafa;
}

.link {
  @apply hover:underline underline-offset-4 cursor-pointer font-[family-name:var(--font-noto-sans)]
}

.line-button {
  @apply px-3 py-1 rounded-2xl bg-[#F5951D] text-white font-medium
}

.btn-primary {
  @apply px-4 py-2 rounded-3xl border-2 border-white text-white font-medium hover:bg-white hover:text-black cursor-pointer transition-colors duration-300 font-[family-name:var(--font-noto-sans)]
}
.btn-primary-dark {
  @apply px-4 py-2 rounded-3xl border-2 border-black text-black font-medium hover:bg-black hover:text-white cursor-pointer transition-colors duration-300 font-[family-name:var(--font-noto-sans)]
}
.btn-primary-dark-sm {
  @apply px-2 py-1 rounded-3xl border-2 border-black text-black font-medium hover:bg-black hover:text-white cursor-pointer transition-colors duration-300 font-[family-name:var(--font-noto-sans)]
}

.heading {
  @apply text-7xl font-[family-name:var(--font-noto-sans)] font-medium
}
.p{
  @apply text-lg font-[family-name:var(--font-noto-sans)] font-normal
}
.p-sm{
  @apply text-sm font-[family-name:var(--font-noto-sans)] font-normal
}
.h1{
  @apply text-5xl font-[family-name:var(--font-noto-sans)] font-medium
}
.h2{
  @apply text-4xl font-[family-name:var(--font-noto-sans)] font-medium
}
.h3{
  @apply text-3xl font-[family-name:var(--font-noto-sans)] font-medium
}
.h4{
  @apply text-2xl font-[family-name:var(--font-noto-sans)] font-normal
}
.h5{
  @apply text-xl font-[family-name:var(--font-noto-sans)] font-medium
}
.h6{
  @apply text-lg font-[family-name:var(--font-noto-sans)] font-medium
}
.subheading{
  @apply text-xl text-white font-[family-name:var(--font-noto-sans)] font-normal
}


.ssa {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  
  
}
/* 
.navbar-active {
  background-color: #fafafa;
  display: flex;
  justify-content: space-around; 
  padding-top: 1rem; 
  padding-bottom: 1rem;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  color: #1F1F1F;
  
} */


.navbar {
  @apply flex justify-around py-2 w-full fixed top-0 left-0 right-0 z-10
}
.navbar-active {
  @apply bg-neutral-50/65 flex justify-around py-2 w-full fixed top-0 left-0 right-0 z-10 backdrop-blur-3xl
}
/* .navbar {
  display: flex;
  justify-content: space-around; 
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
} */

.btn {
  display: flex;
  border-color: #F2F2F2;
  color: #F2F2F2;
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
  border-width: 2px;
  text-underline-offset: 4px;

}
.btn-active {
  display: flex;
  border-color: #1F1F1F;
  color: #1F1F1F;
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
  border-width: 2px;
  text-underline-offset: 4px;
}
.btn-active {
  border-color: #1F1F1F;
  color: #1F1F1F;
}

.navtxt{
  color: #F2F2F2;
  background-color: #1F1F1F;
}
.navtxt-active{
  color: #1F1F1F;   
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


html {
  scroll-behavior: smooth;
}



.swiper {
  width: 100%;
  height: 100%;
}